* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	overflow-x: hidden;
}
svg {
	user-select: none; 
	margin-bottom: 20px;
}
.bh {
	padding-top: 10px;
	padding-left: 10px;
}
.bh button,
.bh button:focus,
.bh button:active {
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 16px;
	font-size: 16px;
	outline:none;
	margin-right: 10px;
}
.bh button.c {
	background-color: #73c03a;
	color: white;
}