* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
}
body.dark-theme {
    background-color: #242f3e;
}
h1 {
    font-size: 38px;
    padding-left: 30px;
    padding-bottom: 5px;
}
body.dark-theme h1 {
    color: white;
}
svg {
    user-select: none;
    margin: 20px 0;
}
.chart {
    margin: 30px 0;
}
.chart:last-child {
    margin-bottom: 120px;
}
.bh {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 60px;
}
.bh button,
.bh button:focus,
.bh button:active {
}
body.dark-theme .bh button {
    color: white;
    border-color: #344658;
}
/* .bh button.c {
	background-color: #73c03a;
	color: white;
} */
.fps {
    font-size: 24px;
    float: right;
    padding-right: 30px;
}
.dark-theme .fps {
    color: white;
}
.toggle-theme {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #108be3;
    background: white;
    border: none;
    cursor: pointer;
    height: 120px;
    font-size: 40px;
	outline: none;
	z-index: 100;
}
.dark-theme {
	.toggle-theme {
		background: #242f3e;
	}
}



@keyframes t-scale-up {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes t-scale-down {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes r-scale-up {
    0% {
        transform: rotate(45deg) scale(0);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}
@keyframes r-scale-down {
    0% {
        transform: rotate(45deg) scale(1);
    }
    100% {
        transform: rotate(45deg) scale(0);
    }
}
$circleDiameter: 44px;
.circle {
    position: relative;
    width: $circleDiameter;
    height: $circleDiameter;
    left: 0;
    top: 0;
}
.color-circle,
.blank-circle {
    position: absolute;
    border-radius: $circleDiameter / 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $circleDiameter;
    height: $circleDiameter;
}
.blank-circle {
    background-color: #fff;
    width: $circleDiameter - 4;
    height: $circleDiameter - 4;
}
.dark-theme .blank-circle {
    background-color: #242f3e;
}
.line-toggle .blank-circle {
    transform: translate(-50%, -50%) scale(0);
    animation: t-scale-down 0.3s;
}
.line-toggle.c .blank-circle {
    transform: translate(-50%, -50%) scale(1);
    animation: t-scale-up 0.3s;
}
.line-toggle .checkmark {
    transform: rotate(45deg) scale(1);
    animation: r-scale-up 0.3s;
}
.line-toggle.c .checkmark {
    animation: r-scale-down 0.3s;
    transform: rotate(45deg) scale(0);
}

.checkmark-stem {
    position: absolute;
    width: 4px;
    height: 19px;
    background-color: #fff;
    left: 17px;
    top: 3px;
}
.checkmark-kick {
    position: absolute;
    width: 13px;
    height: 4px;
    background-color: #fff;
    left: 8px;
    top: 20px;
}
.checkmark {
    display: inline-block;
    width: $circleDiameter;
    height: $circleDiameter;
    position: absolute;
    left: 0;
    top: $circleDiameter / 4 - 1;
    transform: rotate(45deg);
}
.line-toggle {
    display: inline-flex;
    padding: 15px 40px 15px 15px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 36px;
    outline: none;
    margin-right: 25px;
}
.t {
    padding-left: 30px;
    padding-top: 2px;
}